Package: com.hizinfiz.kingdomheartslockglyph
Name: Kingdom Hearts Lock Glyph
Version: 1.1
Architecture: iphoneos-arm
Description: Kingdom Hearts theme for Lock Glyph
Depiction: http://repo.tsunderedev.moe/depictions/Kingdom.html
Homepage: http://github.com/hizinfiz
Maintainer: hizinfiz <hizinfiz@gmail.com>
Author: hizinfiz <hizinfiz@gmail.com>
Section: Themes
