Package: com.hizinfiz.omamlockglyph
Name: Of Monsters And Men Lock Glyph
Version: 1.2
Architecture: iphoneos-arm
Description: Of Monsters And Men theme for Lock Glyph
Depiction: http://repo.tsunderedev.moe/depictions/OMAM.html
Homepage: http://github.com/hizinfiz
Maintainer: hizinfiz <hizinfiz@gmail.com>
Author: hizinfiz <hizinfiz@gmail.com>
Section: Themes
