Package: com.hizinfiz.CataracsCustomCover
Name: Cataracs Custom Cover
Version: 1.0.1
Architecture: iphoneos-arm
Description: Cataracs Style theme for Custom Cover
Depiction: http://repo.tsunderedev.moe/depictions/CataracsCC.html
Homepage: http://github.com/hizinfiz
Maintainer: hizinfiz <hizinfiz@gmail.com>
Author: hizinfiz <hizinfiz@gmail.com>
Section: Themes
