Package: com.hizinfiz.Saber
Name: Saber
Version: 1.0
Architecture: iphoneos-arm
Description: Line Messages Theme
Homepage: http://hizinfiz.github.com
Maintainer: hizinfiz <hizinfiz@gmail.com>
Author: hizinfiz <hizinfiz@gmail.com>
Section: Themes
