Package: com.hizinfiz.Saber
Name: Saber
Version: 1.0
Architecture: iphoneos-arm
Description: Line Messages Theme
Depiction: http://repo.tsunderedev.moe/depictions/Saber.html
Homepage: http://github.com/hizinfiz
Maintainer: hizinfiz <hizinfiz@gmail.com>
Author: hizinfiz <hizinfiz@gmail.com>
Section: Themes
