Package: com.hizinfiz.mugipad
Name: Mugi - iPad
Version: 0.3
Architecture: iphoneos-arm
Description: It's mo'fuckin Houkago Tea Time
Depiction: http://repo.tsunderedev.moe/depictions/MugiPad.html
Homepage: http://github.com/hizinfiz
Maintainer: hizinfiz <hizinfiz@gmail.com>
Author: hizinfiz <hizinfiz@gmail.com>
Section: Themes
Depends: com.codethemed.iconbundles
